<!DOCTYPE html>
<html lang="en">
<%- include('../components/head', { title: 'Shop Products' }); %>

  <body>
    <%- include('../components/header', { role: 'user' }); %>
      <div class="container my-5">
        <h1 class="text-center mb-3">Our Products</h1>
        <div class="row">
          <% products.forEach(product=> { %>
            <div class="col-md-4 mb-5">
              <div class="card">
                <img src="<%= product.image %>" class="card-img-top" alt="<%= product.name %>">
                <div class="card-body">
                  <h5 class="card-title text-truncate d-inline-block w-100" title="<%= product.name %>">
                    <%= product.name %>
                  </h5>
                  <p class="card-text">
                    <%= product.description %>
                  </p>
                  <p class="card-text"><strong>Price: </strong>$ <%= product.price.toFixed(2) %>
                  </p>
                  <form action="/shop/products" method="POST">
                    <input type="hidden" id="productId" name="id" value="<%= product._id %>">
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                  </form>
                </div>
              </div>
            </div>
            <% }); %>
        </div>
      </div>
  </body>

</html>